<div
    [ngClass]="[card_bg, 'flex items-stretch flex-wrap w-full overflow-hidden rounded-md cursor-pointer']"
    [routerLink]="project.slug"
>
    <div
        class="flex justify-center items-center aspect-square w-1/6 text-2xl text-white font-bold bg-blue-light-2 mr-2"
    >
        {{ projectThumb | uppercase }}
    </div>
    <div class="flex flex-wrap p-3 items-center">
        <h3 class="flex-1 text-xl">
            {{ project.title }} <br />
            <small>Team Title</small>
        </h3>
    </div>
</div>
