<div class="p-4 w-full rounded-md bg-beige-1">
    <div class="flex items-center mb-3">
        <h3 class="flex-1 text-xl">Task Title</h3>
        <div>
            <span
                class="inline-flex justify-center items-center h-6 w-6 rounded-full text-xs bg-blue-light-2 mr-1"
                >R</span
            >
            <span
                class="inline-flex justify-center items-center h-6 w-6 rounded-full text-xs bg-blue-light-2"
                >0</span
            >
        </div>
    </div>
    <p class="text-base">Project Title<br /><small>Team Title</small></p>
</div>