<div class="flex gap-2 items-center mb-5">
    <div
        class="flex w-9 h-9 justify-center items-center font-light bg-blue-light-1 rounded-lg"
        *ngIf="workflow"
    >
        {{ workflowThumb | uppercase }}
    </div>
    <h3 class="font-semibold text-gray-800">Dashboard</h3>
</div>
<nav class="space-y-2">
    <div class="">
        <a class="flex items-center px-2 py-1 rounded cursor-pointer hover:bg-white/70 hover:text-blue-neutral transition-colors">
            <span class="material-symbols-outlined mr-2"> check_box </span> Tasks
        </a>
    </div>
    <div class="">
        <a class="flex items-center px-2 py-1 rounded cursor-pointer hover:bg-white/70 hover:text-blue-neutral transition-colors">
            <span class="material-symbols-outlined mr-2"> cards </span>Projects
            <span class="material-symbols-outlined text-sm ml-auto">
                arrow_forward_ios
            </span>
        </a>
    </div>
    <div class="">
        <a class="flex items-center px-2 py-1 rounded cursor-pointer hover:bg-white/70 hover:text-blue-neutral transition-colors">
            <span class="material-symbols-outlined mr-2"> groups </span>Teams
            <span class="material-symbols-outlined text-sm ml-auto">
                arrow_forward_ios
            </span>
        </a>
    </div>
    <div class="">
        <a class="flex items-center px-2 py-1 rounded cursor-pointer hover:bg-white/70 hover:text-blue-neutral transition-colors">
            <span class="material-symbols-outlined mr-2"> workspaces </span>Workflows
            <span class="material-symbols-outlined text-sm ml-auto">
                arrow_forward_ios
            </span>
        </a>
    </div>
</nav>

<div class="flex gap-2 items-center mt-auto" *ngIf="user">
    <div
        class="flex w-9 h-9 justify-center items-center font-light bg-blue-light-1 rounded-lg"
    >
        {{ userThumb | uppercase }}
    </div>
    <h3 class="font-semibold text-gray-800">
        {{ user.firstName }} {{ user.lastName }}
    </h3>
</div>
