<div
    class="flex gap-2 items-center mb-5 cursor-pointer"
    [routerLink]="'dashboard/' + workflow?.slug"
>
    <div
        class="flex w-9 h-9 justify-center items-center font-light bg-blue-light-1 rounded-lg"
    >
        {{ workflowThumb | uppercase }}
    </div>
    <h3 class="font-semibold text-gray-800">Dashboard</h3>
</div>
<nav class="space-y-2">
    <a
        routerLink="tasks"
        routerLinkActive="bg-white/70 text-blue-neutral"
        class="flex items-center px-2 py-1 rounded cursor-pointer hover:bg-white/70 hover:text-blue-neutral transition-colors"
    >
        <span class="material-symbols-outlined mr-2"> check_box </span> Tasks
    </a>

    <a
        routerLink="projects"
        routerLinkActive="bg-white/70 text-blue-neutral"
        class="flex items-center px-2 py-1 rounded cursor-pointer hover:bg-white/70 hover:text-blue-neutral transition-colors"
    >
        <span class="material-symbols-outlined mr-2"> cards </span>Projects
    </a>

    <a
        routerLink="teams"
        routerLinkActive="bg-white/70 text-blue-neutral"
        class="flex items-center px-2 py-1 rounded cursor-pointer hover:bg-white/70 hover:text-blue-neutral transition-colors"
    >
        <span class="material-symbols-outlined mr-2"> groups </span>Teams
    </a>

    <a
        routerLink="workflows"
        routerLinkActive="bg-white/70 text-blue-neutral"
        class="flex items-center px-2 py-1 rounded cursor-pointer hover:bg-white/70 hover:text-blue-neutral transition-colors"
    >
        <span class="material-symbols-outlined mr-2"> workspaces </span
        >Workflows
    </a>
</nav>

<div class="flex gap-2 items-center mt-auto" *ngIf="user">
    <div
        class="flex w-9 h-9 justify-center items-center font-light bg-blue-light-1 rounded-lg"
    >
        {{ userThumb | uppercase }}
    </div>
    <h3 class="font-semibold text-gray-800">
        {{ user.firstName }} {{ user.lastName }}
    </h3>
</div>
